<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Quiz-sida!</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/quiz.css">
	</head>
	<body>
		<h1>I skyddade områden</h1>
		<p>I skyddade områden, exempelvis i nationalparker eller naturreservat, finns särskilda bestämmelser för att skydda natur och kultur. Bestämmelserna kan innebära att allemansrätten är begränsad. Men ibland kan den också vara utökad.</p>

		<h1>{{ quiz.name }}</h1>
		<p>{{ quiz.description }}</p>

		<a href="question.html">starta quiz</a>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
	</html>