<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Startsida quiz!</title>
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/static/quiz.css">
	</head>
	<body>
		<div class="background1"> 
		<h2>Allemansrätten</h2>
		
		<div class="line"></div>
		<p>Allemansrätten är en unik möjlighet för alla att röra sig fritt i naturen. <br>Men vet du vad som gäller?</p>

		{% for quiz in quizzes %}
			<p><a href="{% url 'question_page' 1 1 %}">
				{{ quiz.name }}</a></p>
		{% endfor %}
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
	</body>
	</html>